{% extends 'base.html.twig' %}

{% form_theme formUser 'bootstrap_4_layout.html.twig' %}

{% block body %}

    <h1>Nouveau Formulaire</h1>

    {{ form_start(formUser) }}

    <div style="margin-left: 2rem; margin-right: 5rem">{{ form_widget(formUser) }}</div>


    <button type="submit" class="btn btn-success" style="margin-left: 2rem">
        {% if editMode %}
            Enregistrer
        {% else %}
            Ajouter
        {% endif %}
    </button>

    {{ form_end(formUser) }}

{% endblock %}
