h1 {
  text-align:center;
}

.divform{
  margin-left: 25%;
  margin-right: 25%;
}

hr{
  border-width: 5px;
}

th, td{
  border: 1px solid black;
}

table{
  border-collapse: collapse;
}

.choix{
  margin-left: 1%;
  margin-top: 1%;
  margin-bottom: 1%;
}

h2{
  text-align:center;
  color: #ac0000;
}

body{
  background-color: rgba(190,190,190,0.3);
}